target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
storefront/node_modules
storefront/report
storefront/tmp
storefront/build
storefront/bower_components
storefront/typings
.DS_Store
storefront/src/assets/styles/*.css
.settings
.project